:root {
  --stripe-height: 80px;
  --angle: 63.4deg;

  --stripe-offset: calc(var(--stripe-height) / tan(var(--angle)));
  --base-width: 40px;

  /* neon setup */
  --neon-color: #0099ff;
  --neon-glow: drop-shadow(0 0 10px rgba(0, 153, 255, 0.6));
}

.trimmed-rectangle,
.after-stripe {
  position: relative;
  filter: var(--neon-glow);
}

.trimmed-rectangle::before,
.after-stripe::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--neon-color);
}

.trimmed-rectangle {
  width: 400px;
  height: var(--stripe-height);
}
.trimmed-rectangle::before {
  clip-path: polygon(
    0% 0%,
    100% 0%,
    calc(100% - var(--stripe-offset)) 100%,
    0% 100%
  );
}

.after-stripe {
  width: calc(var(--base-width) + var(--stripe-offset));
  height: var(--stripe-height);
  margin-left: calc(var(--stripe-offset) * -0.65);
}
.after-stripe::before {
  clip-path: polygon(
    var(--stripe-offset) 0%,
    100% 0%,
    calc(100% - var(--stripe-offset)) 100%,
    0% 100%
  );
}

.op-7 {
  opacity: 0.7;
}

.op-4 {
  opacity: 0.4;
}

.shape-container {
  display: flex;
  align-items: center;
  padding: 60px;
}
